<html>
<head>
<title>Example with Express 4 {{title}}</title>
<link type="text/css" rel="stylesheet" media="all" href="/stylesheets/style.css">
<script data-main="/javascripts/init" src="/javascripts/lib/require.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="icon" type="image/jpg" href="images/globalElements/dow-jones-icon.png" />
        <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="stylesheets/DowJones.css" type="text/css">
        <link rel="stylesheet" href="stylesheets/carousel.css" type="text/css">
        <link rel="stylesheet" href="stylesheets/toggle-switch.css" type="text/css">
        <script src="javascripts/vendor/jquery-1.11.1.min.js"></script>
		<script src="javascripts/vendor/bootstrap.min.js"></script>
        <script src="javascripts/custom/custom.js"></script>
        <title>Venture Source :: Home</title>
</head>
<body>
 {{>content}}

</body>
</html>
